@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1e1e1e;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 80%;
    width: 100%;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

.custom-file-label:hover {
    background: rgba(255, 255, 255, 0.2);
}

.file-name {
    font-size: 14px;
    color: #ffffff;
    margin: 0.8rem 0 1.6rem 0;
}

button {
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.result {
    display: none; /* Hide the result container initially */
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 100%; /* Set the width to 80% of the total width */
}

/* Add a class to show the result container when the response arrives */
.result.visible {
    display: block;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
}

.loader .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #333;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        opacity: 0.3;
        transform: translateY(-10px);
    }
}
