@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    overflow-x: hidden;
    overflow-y: auto; /* Allow vertical scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1.6rem 0 0 0;
    padding: 20px;
    max-width: 80%;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    overflow-y: auto; /* Ensure scrolling within the container */
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.main {
    flex: 1;
    padding: 20px;
    width: 100%;
    overflow-y: auto; /* Ensure scrolling within the main content */
}

.footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in 0.1s;
}

.footer a:hover {
    color: rgb(153, 255, 57);
    letter-spacing: 0.1rem;
}

h1 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.custom-file-label:hover {
    background: rgb(153, 255, 57);
    color: #1e1e1e;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.file-name {
    font-size: 14px;
    color: #ffffff;
    margin: 0.8rem 0 1.6rem 0;
}

button {
    font-size: 1rem;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

button:hover {
    background: rgb(153, 255, 57);
    color: #1e1e1e;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(142, 142, 142, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 100%;
}

.result.visible {
    display: block;
}

#roastMessage {
    text-align: left;
    padding: 10px;
}

#roastMessage p {
    margin: 10px 0;
}

#roastMessage ul {
    list-style-type: disc;
    padding-left: 20px;
}

#roastMessage ol {
    list-style-type: decimal;
    padding-left: 20px;
}

#roastMessage li {
    margin: 5px 0;
}

#roastMessage h1,
#roastMessage h2,
#roastMessage h3,
#roastMessage h4,
#roastMessage h5,
#roastMessage h6 {
    font-size: 1.6rem;
    margin: 10px 0;
    font-weight: bold;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
}

.loader .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #333;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        opacity: 0.3;
        transform: translateY(-10px);
    }
}

#disclaimerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: 90%;
    height: auto;
    max-height: 80%;
    background-color: rgba(54, 54, 54, 0.95);
    border-radius: 1.6rem;
    color: #fff;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
#disclaimerBox p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#disclaimerBox h1,
strong,
span {
    color: rgb(153, 255, 57);
    font-weight: bold;
}

#disclaimerBox li {
    font-size: 1rem;
    margin-left: 1rem;
}

#acceptButton {
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 600px) {
    #disclaimerBox {
        padding: 10px;
        max-width: 100%;
        width: 100%;
        height: auto;
        max-height: 100%;
        border-radius: 0;
    }

    #disclaimerBox p {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    #disclaimerBox h1,
    strong,
    span {
        font-size: 1rem;
    }

    #disclaimerBox li {
        font-size: 0.9rem;
    }

    #acceptButton {
        width: auto;
        padding: 8px;
        font-size: 0.9rem;
    }

    .header,
    .footer {
        padding: 10px;
    }

    .main {
        padding: 10px;
    }

    .container {
        max-width: 97%;
        padding: 10px;
        margin: 1rem;
    }

    #roastMessage {
        padding: 5px;
    }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
    #disclaimerBox {
        padding: 15px;
    }

    .header,
    .footer {
        padding: 15px;
    }

    .main {
        padding: 15px;
    }

    .container {
        padding: 15px;
    }

    #roastMessage {
        padding: 10px;
    }
}

/* Desktop Styles */
@media (min-width: 1025px) {
    #disclaimerBox {
        padding: 20px;
    }

    .header,
    .footer {
        padding: 10px;
    }

    .main {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    #roastMessage {
        padding: 10px;
    }
}

.main::-webkit-scrollbar {
    width: 4px;
}

.main::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
    background-color: rgb(153, 255, 57);
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:active {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}

.main::-moz-scrollbar {
    width: 10px;
}

.main::-moz-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 10px;
}

.main::-moz-scrollbar-thumb {
    background-color: rgb(153, 255, 57);
    border-radius: 10px;
}

.main::-moz-scrollbar-thumb:hover {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}

.main::-moz-scrollbar-thumb:active {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}

.main::-ms-scrollbar {
    width: 4px;
}

.main::-ms-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 10px;
}

.main::-ms-scrollbar-thumb {
    background-color: rgb(153, 255, 57);
    border-radius: 10px;
}

.main::-ms-scrollbar-thumb:hover {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}

.main::-ms-scrollbar-thumb:active {
    background-color: rgb(101, 188, 19);
    border-radius: 10px;
}
